<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authentication"></ion-back-button>
    </ion-buttons>
    <ion-text color="light" style="font-size: 25px">Impostazioni</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title style="font-weight: bold; font-size: 20px;">Dati personali</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label (click)="onLabelModify('psw')">Password: {{ user.getName() }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label (click)="onLabelModify('tel')">Telefono: {{ user.getPhone().toString() }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label *ngIf="isUser" (click)="onLabelModify('eta')">Età: {{user.getAge().toString() }} </ion-label>
              </ion-item>
            <ion-item *ngIf="!isUser">
              <ion-label (click)="onLabelModify('addr')">Indirizzo</ion-label>
            </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>