<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authentication"></ion-back-button>
    </ion-buttons>
    <ion-text color="light" style="font-size: 25px">Impostazioni</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="isLoaded">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="font-weight: bold; font-size: 20px;">Immagine Profilo</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-thumbnail>
              <img src="assets/image/panda-login.jpg">
            </ion-thumbnail>
            <ion-button (click)="accessCamera()">Camera
              <ion-icon slot="start" name="camera"></ion-icon>
            </ion-button>
            <ion-button (click)="accessGallery()">Galleria
              <ion-icon slot="start" name="image"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title style="font-weight: bold; font-size: 20px;">Dati personali</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Nome: {{ user.getName() }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Cognome: {{ user.getSurname() }}</ion-label>
              </ion-item>
              <ion-item *ngIf="isUser">
                <ion-label>Codice Fiscale: {{ user.getCf() }}</ion-label>
              </ion-item>
              <ion-item *ngIf="!isUser">
                  <ion-label>Id Albo: {{ user.getAlbo() }}</ion-label>
                </ion-item>
              <ion-item>
                <ion-icon slot="end" name="share-alt"></ion-icon>
                <ion-label (click)="onPswModify()">Password: ********</ion-label>
              </ion-item>
              <ion-item>
                <ion-icon slot="end" name="share-alt"></ion-icon>
                <ion-label (click)="onPhoneModify()">Telefono: {{ user.getPhone().toString() }}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>E-mail: {{user.getMail().toString() }}</ion-label>
              </ion-item>
              <ion-item *ngIf="isUser">
                <ion-icon slot="end" name="share-alt"></ion-icon>
                <ion-label  (click)="onAgeModify()">Età: {{user.getAge().toString() }}</ion-label>
              </ion-item>
              <ion-item *ngIf="!isUser">
                  <ion-icon slot="end" name="share-alt"></ion-icon>
                <ion-label (click)="onAddrModify()">Indirizzo: {{ user.getAddress() }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>