<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authentication"></ion-back-button>
    </ion-buttons>
    <ion-text color="light" style="font-size: 25px">Cerca medico</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
<div #map id="map"></div>
<ion-button (click)="loadMap()">cliccami</ion-button>

<ion-list>
  <ion-item *ngFor="let doctor of doctors">
    <h1> {{doctor['address']._id}}  {{doctor['address'].address}}  </h1>
  </ion-item>
</ion-list>
</ion-content>
