<ion-header>
  <ion-toolbar color="dark" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authentication"></ion-back-button>
    </ion-buttons>
    <ion-text color="light" style="font-size: 25px">Cerca medico</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card id="map">
</ion-card>
</ion-col>
</ion-row>

<ion-row>
    <ion-col>
      <ion-button color="primary" (click)="findDoctors()">
        Search Doctor
      </ion-button>
      </ion-col>
    </ion-row>
<ion-row>
  <ion-col>
<ion-list>
  <ion-card *ngFor="let doctor of doctors">
    <ion-item style="color: black">{{doctor['address']._id}}  {{doctor['address'].address}}</ion-item>
  </ion-card>
</ion-list>
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
