.login-label {
    font-size: 30px;
}

.valid-label {
    font-size: 20px;
    font-family: "Comic Sans";
}

ion-button{
    height: 45px;
    font-size: 25px;
}

ion-segment{
    --background-checked: black;
    --color: black;
}
