<!-- Con "#" creiamo una variabile locale attraverso la quale Angular può riconoscerla ed operarci su.
       Attraverso la direttiva di Angular *ngIf controlliamo, mediante i local reference, la validità
       degli input.
       La direttiva ngModel serve per attivare i campi input nel form.
  -->
<ion-header no-border>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="authentication"></ion-back-button>
    </ion-buttons>
    <ion-text style="font-size: 50px">ONIRO</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <ion-segment (ionChange)="onChange($event, f)">
          <ion-segment-button value="doc">Dottore</ion-segment-button>
          <ion-segment-button value="user" checked>Paziente</ion-segment-button>
        </ion-segment>
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item style="height: 80px" *ngIf="isUser">
              <ion-label class="login-label" position="floating">Codice Fiscale</ion-label>
              <ion-input ngModel name="cf" required #cfCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item style="height: 80px" *ngIf="!isUser">
                <ion-label class="login-label" position="floating">Id Albo</ion-label>
                <ion-input ngModel name="albo" required #alboCtrl="ngModel"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label class="login-label" position="floating">Password</ion-label>
              <ion-input type="password" ngModel name="password" required minlength="8" #passwordCtrl="ngModel">
              </ion-input>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label color="danger" class="valid-label">
                Inserire almeno 8 caratteri
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button expand="block" type="submit"  [disabled]="!f.valid">
            <ion-icon name="person" slot="end"></ion-icon>
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>