<ion-header>
  <ion-toolbar color="light" text-center>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-text style="font-size: 25px">Contatti</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card style="border: 2px solid white;" *ngFor="let contact of contacts">
      <ion-item lines="none" *ngIf="contact['type'] === 'subscribed'">
        {{contact.name}} {{contact._id}}
        <ion-icon text-right name="call" slot="end" color="success" (click)="callNumber(contact.phone_number)">
        </ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-content>