<ion-header>
    <ion-toolbar color="light" text-center>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="authentication"></ion-back-button>
      </ion-buttons>
      <ion-text  style="font-size: 25px">Contatti</ion-text>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let contact of contacts" >
          <ion-item> {{contact['doctor'].name}} {{contact['doctor']._id}}
              <ion-icon text-right name="call" slot="end" color="success" (click)="callNumber(contact['doctor'].phone_number)"></ion-icon>
          </ion-item>
          </ion-card>
      </ion-list>

</ion-content>
