<ion-app>
  <ion-menu menuId="menu">
    <ion-header>
      <ion-toolbar color="light">
        Hello, {{ identity.name }} {{ identity.surname}}
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon class="menu" name="settings" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickSettings()">Profilo Utente</ion-label>
        </ion-item>
        <ion-item *ngIf="isUser">
          <ion-icon class="menu" name="book" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickDiary()">Diario</ion-label>
        </ion-item>
        <ion-item *ngIf="isUser">
          <ion-icon class="menu" name="search" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickMaps()">Cerca Medico</ion-label>
        </ion-item>
        <ion-item *ngIf="!isUser">
          <ion-icon class="menu" name="search" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickRequests()">Richieste Pazienti</ion-label>
        </ion-item>
        <ion-item *ngIf="isUser">
          <ion-icon class="menu" name="contacts" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickContacts()">Contatti</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="menu" name="information-circle-outline" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickInfo()">Info</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="menu" name="exit" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onLogout()">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>