<ion-app>
  <ion-menu menuId="paziente">
    <ion-header>
      <ion-toolbar>
        <ion-title>

          <ion-item>
            <!--<ion-avatar><ion-icon name="contact" size="large"></ion-icon></ion-avatar><ion-label floating> {{paziente.name}}</ion-label> -- Va messo dinamicamente il nome dell'utente-->

          </ion-item>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickSettings()">Profilo Utente</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="book" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickDiary()">Diario</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickMaps()">Cerca Medico</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="contacts" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickContacts()">Contatti</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickInfo()">Info</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onLogout()">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-menu menuId="medico">
    <ion-header>
      <ion-toolbar>
        <ion-title>

          <ion-item>
            <!--<ion-avatar><ion-icon name="contact" size="large"></ion-icon></ion-avatar><ion-label floating> {{paziente.name}}</ion-label> -- Va messo dinamicamente il nome dell'utente-->

          </ion-item>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none">
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickSettings()">Profilo Utente</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="search" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickRequests()">Richieste Pazienti</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onClickInfo()">Info</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="exit" slot="start"></ion-icon>
          <ion-label routerDirection="forward" (click)="onLogout()">Logout</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu >
  <ion-router-outlet main></ion-router-outlet>
</ion-app>