.date{
    font-size: 45px;
}

ion-icon {
    color: white;
}

ion-text {
    color: rgb(8, 8, 68);
    font-weight: normal;
    font-style: italic;
}

ion-card-title {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}